/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@import "media-queries";*/
/*mobile and tablet mixins for reactivity*/
/* line 96, ../sass/screen.scss */
body {
  overflow-x: hidden;
  background-color: #FFF7E8;
}

/*container media queries*/
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 105, ../sass/screen.scss */
  .container {
    max-width: 100%;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 105, ../sass/screen.scss */
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 122, ../sass/screen.scss */
  .navbar-toggler:not([disabled]):not(.disabled) {
    margin-left: -50%;
  }
}

/*brand*/
/* line 135, ../sass/screen.scss */
.navbar-brand {
  color: #804000 !important;
  padding-right: 445px;
}

/* brand media queries*/
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 146, ../sass/screen.scss */
  .nav-link.dropdown-toggle, .li.navitem.dropdown, a.nav-link {
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 146, ../sass/screen.scss */
  .nav-link.dropdown-toggle, .li.navitem.dropdown, a.nav-link {
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 146, ../sass/screen.scss */
  .nav-link.dropdown-toggle, .li.navitem.dropdown, a.nav-link {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 169, ../sass/screen.scss */
  .nav-link.dropdown-toggle, .li.nafvitem.dropdown, a.nav-link {
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 169, ../sass/screen.scss */
  .nav-link.dropdown-toggle, .li.nafvitem.dropdown, a.nav-link {
    text-align: center;
  }
}

/* cart */
/* line 186, ../sass/screen.scss */
.cart {
  font-family: "Bellefair", serif;
  font-size: 13px;
  color: #ffffff;
  background-color: #804000;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
/* line 197, ../sass/screen.scss */
.cart .cartlink {
  margin-left: 70%;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 197, ../sass/screen.scss */
  .cart .cartlink {
    margin-left: 80%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 197, ../sass/screen.scss */
  .cart .cartlink {
    margin-left: 75%;
  }
}

/* dropdown menu visible*/
/* line 215, ../sass/screen.scss */
.dropdown-menu.show {
  width: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.23), 0 6px 6px rgba(0, 0, 0, 0.27);
  text-align: center;
}
/* line 222, ../sass/screen.scss */
.dropdown-menu.show a {
  color: rgba(0, 0, 0, 0.5);
}
/* line 226, ../sass/screen.scss */
.dropdown-menu.show a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  background-color: #FFFDF5 !important;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 215, ../sass/screen.scss */
  .dropdown-menu.show {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 215, ../sass/screen.scss */
  .dropdown-menu.show {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 215, ../sass/screen.scss */
  .dropdown-menu.show {
    max-width: 100%;
  }
}

/*coupon*/
/* line 261, ../sass/screen.scss */
.coupon {
  background-color: #804000;
  font-family: "Bellefair", serif;
  padding: 10px;
  border: 15px #FFFDF5 solid;
  color: white;
  text-align: center;
}
/* line 271, ../sass/screen.scss */
.coupon h1 {
  font-family: "Bellefair", serif;
  font-size: 40px;
}
/* line 277, ../sass/screen.scss */
.coupon p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  margin-top: 10px;
}

/*nav bg*/
/* line 288, ../sass/screen.scss */
.bg-light {
  background-color: #FFFDF5 !important;
}

/*dropdown menu*/
/* line 295, ../sass/screen.scss */
.dropdown-menu {
  border: none !important;
  background-color: #FFFDF5 !important;
  border-radius: 0px !important;
}

/*container fluid styles*/
/* line 304, ../sass/screen.scss */
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

/*jubotron styles*/
/* line 312, ../sass/screen.scss */
.jumbotron {
  margin-bottom: 0rem;
}

/* line 318, ../sass/screen.scss */
.hero, .collectionHero {
  background-position: 40% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 320px;
  padding-bottom: 55px;
}

/*hero styles*/
/* line 328, ../sass/screen.scss */
.hero {
  background-image: url(../images/home/hero.png);
  /*sm button media queries*/
  /*sm hero box */
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 328, ../sass/screen.scss */
  .hero {
    padding: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 328, ../sass/screen.scss */
  .hero {
    padding: 0px;
  }
}
/* line 344, ../sass/screen.scss */
.hero h1 {
  font-size: 60px;
  color: #ffffff;
  margin-right: 50px;
  text-align: right;
  font-family: "Permanent Marker", cursive;
}
@media only and (max-width: 1200px) {
  /* line 344, ../sass/screen.scss */
  .hero h1 {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 60px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 344, ../sass/screen.scss */
  .hero h1 {
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 60px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 344, ../sass/screen.scss */
  .hero h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 60px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 344, ../sass/screen.scss */
  .hero h1 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 60px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 392, ../sass/screen.scss */
.hero button {
  align-items: right;
  margin-left: 72%;
  margin-top: 20px;
  font-family: "Merriweather", serif;
  /*button sm*/
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 392, ../sass/screen.scss */
  .hero button {
    font-size: 13px;
    margin-left: 58%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 392, ../sass/screen.scss */
  .hero button {
    display: none;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 392, ../sass/screen.scss */
  .hero button {
    display: none;
  }
}
/* line 421, ../sass/screen.scss */
.hero .smhero {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 421, ../sass/screen.scss */
  .hero .smhero {
    width: 100%;
    padding: 25px;
    font-family: "Merriweather", serif;
    font-size: 25px;
    color: black;
    display: block;
    background-color: white;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 421, ../sass/screen.scss */
  .hero .smhero {
    width: 100%;
    padding: 25px;
    font-family: "Merriweather", serif;
    font-size: 25px;
    color: black;
    display: block;
    background-color: white;
    text-align: center;
  }
}

/*options code*/
/* line 458, ../sass/screen.scss */
.men {
  width: 500px;
  height: 350px;
  background-image: url(../images/home/mens.jpg);
  background-position: 20% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
}

/* line 470, ../sass/screen.scss */
.women {
  width: 500px;
  height: 350px;
  background-image: url(../images/home/women.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
}

/* line 480, ../sass/screen.scss */
.accessories {
  width: 500px;
  height: 350px;
  background-image: url(../images/home/accessories.jpg);
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
  padding-top: 150px;
}

/* line 490, ../sass/screen.scss */
.men:hover, .women:hover, .accessories:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*title styles*/
/* line 497, ../sass/screen.scss */
.title {
  color: #FFF7E8;
  font-family: "Bellefair", serif;
  font-size: 50px;
  text-align: center;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 497, ../sass/screen.scss */
  .title {
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 497, ../sass/screen.scss */
  .title {
    font-size: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 497, ../sass/screen.scss */
  .title {
    font-size: 25px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 497, ../sass/screen.scss */
  .title {
    font-size: 25px;
  }
}

/*wood container*/
/* line 532, ../sass/screen.scss */
.woodshop, .woodhome {
  background-image: url(../images/home/texture.jpg);
  background-repeat: repeat;
}

/* line 539, ../sass/screen.scss */
.woodhome {
  margin-top: 55px;
  padding: 10px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 539, ../sass/screen.scss */
  .woodhome {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 539, ../sass/screen.scss */
  .woodhome {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*features styles*/
/* line 564, ../sass/screen.scss */
.features {
  margin-top: 55px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 564, ../sass/screen.scss */
  .features {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 564, ../sass/screen.scss */
  .features {
    margin-top: 0px;
  }
}

/*ad styles*/
/* line 583, ../sass/screen.scss */
.collection, .trend, .lookbook {
  background-position: 20% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 310px;
  padding-left: 250px;
  margin-top: 45px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 583, ../sass/screen.scss */
  .collection, .trend, .lookbook {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 583, ../sass/screen.scss */
  .collection, .trend, .lookbook {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

/*begin collection styles*/
/* line 610, ../sass/screen.scss */
.collection {
  background-image: url(../images/home/collection.png);
  margin-top: 55px;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: inset 23px 20px 20px rgba(0, 0, 0, 0.5);
  /*button begin*/
  /*block col button*/
}
/* line 617, ../sass/screen.scss */
.collection h1 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 50px;
  margin-left: -100%;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 617, ../sass/screen.scss */
  .collection h1 {
    margin-left: -100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 617, ../sass/screen.scss */
  .collection h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 35%;
    padding-left: 20%;
    padding-right: 0px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 617, ../sass/screen.scss */
  .collection h1 {
    font-size: 10px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 35%;
  }
}
/* line 653, ../sass/screen.scss */
.collection button {
  margin-left: -210px;
  margin-top: 20px;
  margin-top: 10px;
  font-family: "Merriweather", serif;
  /*md button collection queries*/
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 653, ../sass/screen.scss */
  .collection button {
    font-size: 13px;
    margin-left: -40%;
    margin-top: 6%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 653, ../sass/screen.scss */
  .collection button {
    display: none;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 653, ../sass/screen.scss */
  .collection button {
    display: none;
  }
}
/* line 687, ../sass/screen.scss */
.collection .smcol {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 687, ../sass/screen.scss */
  .collection .smcol {
    width: 200%;
    padding: 15px;
    font-family: "Merriweather", serif;
    color: black;
    display: block;
    background-color: white;
    margin-left: -81%;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 687, ../sass/screen.scss */
  .collection .smcol {
    width: 200%;
    padding: 15px;
    font-family: "Merriweather", serif;
    color: black;
    display: block;
    background-color: white;
    margin-left: -81%;
  }
}
/* line 715, ../sass/screen.scss */
.collection .smcol p {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 715, ../sass/screen.scss */
  .collection .smcol p {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 40px;
    margin-left: -7%;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 715, ../sass/screen.scss */
  .collection .smcol p {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 40px;
    margin-left: -7%;
  }
}

/* line 749, ../sass/screen.scss */
.trend {
  background-image: url(../images/home/trends.png);
  background-position: center;
  margin-top: 100px;
  margin-bottom: 55px;
  box-shadow: inset 23px 20px 23px rgba(0, 0, 0, 0.5);
  /*block col button*/
}
/* line 757, ../sass/screen.scss */
.trend h1 {
  color: #ffffff;
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
  margin-left: 400px;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 757, ../sass/screen.scss */
  .trend h1 {
    margin-left: 10%;
    font-size: 70px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 757, ../sass/screen.scss */
  .trend h1 {
    font-size: 45px;
    margin-left: -10%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 757, ../sass/screen.scss */
  .trend h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 40%;
    padding-bottom: 35%;
    margin-left: -45%;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
/* line 789, ../sass/screen.scss */
.trend button {
  margin-left: 630px;
  margin-top: 20px;
  margin-top: 10px;
  font-family: "Merriweather", serif;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 789, ../sass/screen.scss */
  .trend button {
    margin-left: 69%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 789, ../sass/screen.scss */
  .trend button {
    font-size: 13px;
    margin-left: 41%;
    margin-top: 5%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 789, ../sass/screen.scss */
  .trend button {
    display: none;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 789, ../sass/screen.scss */
  .trend button {
    display: none;
  }
}
/* line 825, ../sass/screen.scss */
.trend .trcol {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 825, ../sass/screen.scss */
  .trend .trcol {
    width: 200%;
    padding: 15px;
    font-family: "Merriweather", serif;
    color: black;
    display: block;
    background-color: white;
    margin-left: -81%;
  }
}
/* line 841, ../sass/screen.scss */
.trend .trcol p {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 841, ../sass/screen.scss */
  .trend .trcol p {
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 40px;
  }
}

/* line 862, ../sass/screen.scss */
.lookbook {
  background-color: white;
  padding: 0px !important;
  margin-top: 55px;
  padding-right: 10px !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 862, ../sass/screen.scss */
  .lookbook {
    margin-top: 0px;
  }
}

/* line 881, ../sass/screen.scss */
.image {
  background-image: url(../images/home/lookbook.jpg);
  background-position: 35% 35%;
  background-size: cover;
  padding: 100px;
  color: #804000;
  width: 50%;
  height: 50%;
}
/* line 891, ../sass/screen.scss */
.image h1 {
  font-family: "Bellefair", serif;
  font-size: 60px;
  margin-left: 600px;
  width: 300px;
  text-align: center;
}
@media only and (max-width: 1200px) {
  /* line 891, ../sass/screen.scss */
  .image h1 {
    margin-left: 170%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 891, ../sass/screen.scss */
  .image h1 {
    margin-left: 167%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 891, ../sass/screen.scss */
  .image h1 {
    font-size: 45px;
    margin-left: 190%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 891, ../sass/screen.scss */
  .image h1 {
    margin-left: 200%;
    font-size: 45px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 891, ../sass/screen.scss */
  .image h1 {
    margin-left: 220%;
    font-size: 45px;
  }
}
/* line 933, ../sass/screen.scss */
.image p {
  margin-top: 50px;
  font-family: "Merriweather", serif;
  font-size: 10px;
  margin-left: 600px;
}

/* line 942, ../sass/screen.scss */
.aboutus {
  background-image: url(../images/home/texture2.jpg);
  padding-top: 36px;
  margin-top: 55px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 200px;
  padding-top: 200px;
}
/* line 951, ../sass/screen.scss */
.aboutus h1 {
  font-family: "Bellefair", serif;
  color: #ffffff !important;
  text-align: center;
  font-size: 45px;
}
/* line 958, ../sass/screen.scss */
.aboutus p {
  font-family: "Merriweather", serif;
  color: #ffffff !important;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  line-height: 20px;
}

/* line 968, ../sass/screen.scss */
.botcontent {
  background-color: #FFFDF5;
  margin-top: -5px;
  padding-top: 80px;
  padding-bottom: 50px;
}
/* line 975, ../sass/screen.scss */
.botcontent .banner1 {
  background-color: #804000;
  padding: 25px;
  margin-top: 80px;
  text-align: center;
  color: #ffffff;
}
/* line 982, ../sass/screen.scss */
.botcontent .banner1 h1 {
  font-family: "Bellefair", serif;
  font-size: 36px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 982, ../sass/screen.scss */
  .botcontent .banner1 h1 {
    font-size: 25px;
  }
}
/* line 993, ../sass/screen.scss */
.botcontent .banner1 p {
  font-family: "Merriweather", serif;
  font-size: 16px;
  margin-top: 10px;
}
/* line 1002, ../sass/screen.scss */
.botcontent .banner2 {
  background-color: #6E3700;
  padding: 25px;
  margin-left: 10px;
  margin-top: 80px;
  text-align: center;
}
/* line 1011, ../sass/screen.scss */
.botcontent .move {
  margin-left: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1011, ../sass/screen.scss */
  .botcontent .move {
    margin-left: -7%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1011, ../sass/screen.scss */
  .botcontent .move {
    margin-left: -4%;
  }
}
/* line 1031, ../sass/screen.scss */
.botcontent .fa {
  color: white;
  margin-left: 60px;
  margin-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 1031, ../sass/screen.scss */
  .botcontent .fa {
    margin-left: 18%;
    margin-top: 11%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1031, ../sass/screen.scss */
  .botcontent .fa {
    margin-top: 20%;
    margin-left: 15%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1031, ../sass/screen.scss */
  .botcontent .fa {
    margin-top: 20%;
    margin-left: 11%;
  }
}
/* line 1060, ../sass/screen.scss */
.botcontent .head {
  color: #804000;
  font-family: "Bellefair", serif;
  font-size: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1060, ../sass/screen.scss */
  .botcontent .head {
    line-height: 30px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1060, ../sass/screen.scss */
  .botcontent .head {
    line-height: 20px;
    font-size: 16px;
    width: 150px;
  }
}
/* line 1082, ../sass/screen.scss */
.botcontent li {
  font-family: "Merriweather", serif;
  line-height: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1082, ../sass/screen.scss */
  .botcontent li {
    width: 200px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1082, ../sass/screen.scss */
  .botcontent li {
    font-size: 16px;
    width: 150px;
    text-align: center;
  }
}
/* line 1102, ../sass/screen.scss */
.botcontent a {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1102, ../sass/screen.scss */
  .botcontent a {
    width: 200px;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1102, ../sass/screen.scss */
  .botcontent a {
    font-size: 16px;
    width: 150px;
  }
}
/* line 1120, ../sass/screen.scss */
.botcontent a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

/* line 1127, ../sass/screen.scss */
.footer {
  background-color: #804000;
  padding: 8px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-align: center;
}

/* line 1136, ../sass/screen.scss */
.fa-angle-double-left, .fa-angle-double-right {
  color: white;
}

/*shop styles*/
/* line 1142, ../sass/screen.scss */
.woodshop {
  padding: 50px;
  padding-bottom: 15%;
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1142, ../sass/screen.scss */
  .woodshop {
    padding-bottom: 25%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1142, ../sass/screen.scss */
  .woodshop {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25%;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1142, ../sass/screen.scss */
  .woodshop {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25%;
  }
}

/* line 1170, ../sass/screen.scss */
.collectionHero {
  background-image: url(../images/collection/herocol.png) !important;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1170, ../sass/screen.scss */
  .collectionHero {
    padding-bottom: 20%;
    padding-top: 30%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1170, ../sass/screen.scss */
  .collectionHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1170, ../sass/screen.scss */
  .collectionHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* line 1196, ../sass/screen.scss */
.collectionHero h1 {
  font-family: "Bellefair", serif;
  color: white !important;
  font-size: 60px !important;
  margin-left: 55%;
  text-shadow: 1px 3px 6px rgba(86, 113, 125, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1196, ../sass/screen.scss */
  .collectionHero h1 {
    font-size: 40px !important;
    margin-left: 40%;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1196, ../sass/screen.scss */
  .collectionHero h1 {
    font-size: 55px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1196, ../sass/screen.scss */
  .collectionHero h1 {
    font-size: 55px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}

/* line 1234, ../sass/screen.scss */
.gallery {
  margin-top: 200px;
  /*padding-bottom: 150px;*/
  align-content: center;
  max-width: 100%;
}
@media only and (max-width: 1200px) {
  /* line 1234, ../sass/screen.scss */
  .gallery {
    margin-left: -4%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1234, ../sass/screen.scss */
  .gallery {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1234, ../sass/screen.scss */
  .gallery {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1234, ../sass/screen.scss */
  .gallery {
    display: block;
    margin-top: 0px;
    margin-left: -4%;
  }
}

/* line 1266, ../sass/screen.scss */
#stockItem {
  padding: 25px;
  box-shadow: inset 23px 20px 23px rgba(0, 0, 0, 0.5);
}

/* line 1274, ../sass/screen.scss */
.col-3 {
  display: inline;
  margin-top: 20px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1274, ../sass/screen.scss */
  .col-3 {
    display: block;
    max-width: 100% !important;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1274, ../sass/screen.scss */
  .col-3 {
    display: block;
    max-width: 100% !important;
  }
}

/* line 1292, ../sass/screen.scss */
.style {
  padding: 123px;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
  /* line 1292, ../sass/screen.scss */
  .style {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1292, ../sass/screen.scss */
  .style {
    padding: 15%;
    margin-left: 2%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1292, ../sass/screen.scss */
  .style {
    border-radius: 0px;
    padding: 55%;
    margin-left: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1292, ../sass/screen.scss */
  .style {
    padding: 55%;
    border-radius: 0px;
    margin-left: 0px;
  }
}

/* line 1328, ../sass/screen.scss */
.titlediv {
  display: none;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1328, ../sass/screen.scss */
  .titlediv {
    display: block;
    padding: 10%;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1328, ../sass/screen.scss */
  .titlediv {
    display: block;
    padding: 10%;
  }
}

/*trends jumbotron*/
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1351, ../sass/screen.scss */
  .jumbotron {
    border-radius: 0px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1351, ../sass/screen.scss */
  .jumbotron {
    border-radius: 0px;
  }
}

/*trends hero*/
/* line 1369, ../sass/screen.scss */
.trendsHero {
  background-image: url(../images/home/trends.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
  padding-top: 300px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1369, ../sass/screen.scss */
  .trendsHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1369, ../sass/screen.scss */
  .trendsHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* line 1393, ../sass/screen.scss */
.trendsHero h1 {
  font-family: "Permanent Marker", cursive;
  color: white !important;
  font-size: 60px !important;
  margin-left: 55%;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1393, ../sass/screen.scss */
  .trendsHero h1 {
    font-size: 70px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1393, ../sass/screen.scss */
  .trendsHero h1 {
    font-size: 70px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}

/*hunter hero*/
/* line 1424, ../sass/screen.scss */
.hunterHero {
  background-image: url(../images/hunter/hunterhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
  padding-top: 300px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1424, ../sass/screen.scss */
  .hunterHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1424, ../sass/screen.scss */
  .hunterHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* line 1448, ../sass/screen.scss */
.hunterHero h1 {
  font-family: "Permanent Marker", cursive;
  color: white !important;
  font-size: 100px !important;
  margin-left: 55%;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1448, ../sass/screen.scss */
  .hunterHero h1 {
    font-size: 70px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1448, ../sass/screen.scss */
  .hunterHero h1 {
    font-size: 90px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1448, ../sass/screen.scss */
  .hunterHero h1 {
    font-size: 70px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}

/*hunter hero*/
/* line 1487, ../sass/screen.scss */
.womenHero {
  background-image: url(../images/womenhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
  padding-top: 300px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1487, ../sass/screen.scss */
  .womenHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1487, ../sass/screen.scss */
  .womenHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* line 1511, ../sass/screen.scss */
.womenHero h1 {
  font-family: "Bellefair", serif;
  color: white !important;
  font-size: 100px !important;
  margin-left: 55%;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1511, ../sass/screen.scss */
  .womenHero h1 {
    font-size: 70px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1511, ../sass/screen.scss */
  .womenHero h1 {
    font-size: 90px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1511, ../sass/screen.scss */
  .womenHero h1 {
    font-size: 70px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}

/*hunter hero*/
/* line 1550, ../sass/screen.scss */
.menHero {
  background-image: url(../images/menhero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: inset 10px 10px 13px rgba(0, 0, 0, 0.6);
  padding-top: 300px;
  padding-bottom: 100px;
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1550, ../sass/screen.scss */
  .menHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1550, ../sass/screen.scss */
  .menHero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
/* line 1574, ../sass/screen.scss */
.menHero h1 {
  font-family: "Bellefair", serif;
  color: white !important;
  font-size: 100px !important;
  margin-left: 10%;
  text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 768px) and (max-width: 991.99px) {
  /* line 1574, ../sass/screen.scss */
  .menHero h1 {
    font-size: 70px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767.99px) {
  /* line 1574, ../sass/screen.scss */
  .menHero h1 {
    font-size: 90px !important;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
    margin-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 575.99px) {
  /* line 1574, ../sass/screen.scss */
  .menHero h1 {
    font-size: 70px !important;
    margin-left: 0px;
    text-align: center;
    text-shadow: 1px 3px 6px rgba(0, 0, 0, 0.6);
  }
}
